/* Selector */

body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 3% !important;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 100%;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


/* Structure, IDs */


/* Classes */

.clear {
    clear: both;
}

.cancelbtn {
    width: auto;
}

.deletebtn {
    width: auto;
    float: right;
}

.imgcontainer {
    margin: 24px 0 12px 0;
}

img.logoLogin {
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.center {
    display: flex !important;
    justify-content: center !important;
}

.hover:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #00acc1 !important;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.form-container {
    width: 40%;
    border: 2px solid #00838f;
    padding: 20px 30px;
    border-radius: 5%;
}

/* Media query for mobile devices or 200% zoom */
@media screen and (max-width: 1000px) {
    .form-container {
        width: 75%;
    }

    input::placeholder {
        font-size: 80%;
    }

    input[type=text],
    input[type=password] {
        height: 50% !important;
        margin-bottom: 5% !important;
    }

    img.logoLogin {
        width: 75%;
    }    
}