<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kübelliste!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="index.css" />
  <link rel="icon" type="image/x-icon" href="resources/Kuebelliste_Icon.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <template>
        <navbar v-model="textInput"></navbar>
      </template>
    </header>

    <main>
      <!-- here comes data -->
      <template>
        <h1 v-if="items.length != 0" style="width: 50%; float: left;">{{ this.getListName }}</h1>
        <p
          style="width: 50%; float: right; text-align: right; margin-top: 5px !important; margin-bottom: 0; font-size: 100%;">
          Vienna: {{weather.weather}}, {{ weather.temperature }}°C</p>
        <div class="clear"></div>
        <div class="row center">
          <ul>

            <li>
              <div class="center" v-for="item in rowChunks">
                <div v-for="card in item" class="col s2.5">
                  <div class="card hoverable" style="width: 220px; height: 380px;">
                    <div class="card-image">
                      <img v-if="card.img != ''" :src=card.img alt="" style="width:220px; height:200px;">
                      <img v-else src=resources/Kuebelliste_Icon.png alt="" style="width:200px; height:200px;">
                      <a v-on:click="addToList(card.name, card.description, card.img)" title="Add to My Lists"
                        class="btn-floating halfway-fab waves-effect waves-light red"><i
                          class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                      <span class="card-title center" style="font-size: 18.5px !important; color: black !important;"><b
                          style="overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important;">{{
                          card.name }}</b></span>
                      <p class="trunc">{{ card.description }}</p>
                    </div>

                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </template>
    </main>

    <!-- OUR FOOTER-->
    <template>
      <kuebelfooter></kuebelfooter>
    </template>

  </div>


  <script src="components.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        resizeEvent: 0,
        items: [],
        textInput: "",
        weather: "",
        chosenAPI: "",
      },
      computed: {
        rowChunks() {
          this.resizeEvent;
          const chunkSize = Math.floor(window.innerWidth / 275);
          const result = [];
          let allItems = this.items;

          if (this.textInput != "") {
            allItems = allItems.filter(item =>
              item.name.toLowerCase().includes(this.textInput.toLowerCase()) || item.name === "New List"
            );
          }

          for (let i = 0; i < allItems.length; i += chunkSize) {
            let slice = allItems.slice(i, i + chunkSize);
            result.push(slice);
          }

          return result;
        },
        getListName() {
          if (this.chosenAPI === "anime") return "AniList Top 10 Anime"
          else if (this.chosenAPI === "eso") return "ESO Dungeons";
          else if (this.chosenAPI === "manga") return "AniList Top 10 Manga";

          return "External API";
        },
      },
      methods: {
        fetchItems() {
          let fetchedItems = [];

          this.getChosenEndpointData()
            .then(data => {
              fetchedItems = data;
            })
            .then(list => {
              this.items = fetchedItems
            })
            .catch(err => console.log(err));

          fetch("weather/weatherandtemp/Vienna")
            .then(weather => weather.json())
            .then(data => this.weather = data)
            .catch(error => console.log(error))
        },
        getChosenEndpointData() {
          if (this.chosenAPI == "eso") return fetch("/eso").then(res => res.json())
          if (this.chosenAPI == "anime") {
            return fetch("/anime").
              then(res => res.json()).
              then(data => data.map(anime => ({ name: anime.title.english, img: anime.coverImage.large, description: this.stripHtmlTags(anime.description) })));
          }
          if (this.chosenAPI == "manga") {
            return fetch("/manga").
              then(res => res.json()).
              then(data => data.map(manga => ({ name: manga.title.english, img: manga.coverImage.large, description: this.stripHtmlTags(manga.description) })));
          }
          return null;
        },
        addToList(name, description, image) {
          //const truncatedName = name.length > 20 ? name.substring(0, 20) : name;

          let listname = "ESO Dungeons";
          let listPicture = "https://assetsio.gnwcdn.com/elder-scrolls-online-logo.jpg?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp";
          if (this.chosenAPI == "anime") {
            listname = "Anime"
            listPicture = "https://image.spreadshirtmedia.net/image-server/v1/mp/products/T1459A839PA4459PT28D187144250W10000H4186/views/1,width=800,height=800,appearanceId=839,backgroundColor=F2F2F2/anime-logo-sticker.jpg"
          }
          else if (this.chosenAPI == "manga") {
            listname = "Manga"
            listPicture = "https://as2.ftcdn.net/v2/jpg/03/00/43/65/1000_F_300436550_VmmVTJX6n6b3uDLyfNwNftoMZtkD53IQ.jpg"
          }

          fetch(`/list/`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              "name": listname,
              "picture": listPicture,
              "weather": "clear"
            })
          })
            .then(d => {
              let betterListname = listname;
              if (d.status === 201) {
                fetch(`/list/${listname}`, {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify([{ name: "To-Do" }])
                }).then(d => {
                  fetch(`list/${betterListname}/To-Do`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify([{
                      name: name,
                      rating: "0/0",
                      description: description,
                      deadline: "none",
                      image: image,
                      calendar: "no"
                    }])
                  })
                })
              }
              else {
                fetch(`list/${betterListname}/To-Do`, {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify([{
                    name: name,
                    rating: "0/0",
                    description: description,
                    deadline: "none",
                    image: image,
                    calendar: "no"
                  }])
                })
              }
            })
            .catch(e => {
              console.log(e)
            })
          return null;
        },
        handleResize() {
          this.resizeEvent++;
        },
        stripHtmlTags(text) {
          return text.replace(/<\/?[^>]+(>|$)/g, "");
        },
      },
      mounted() {
        const params = new URLSearchParams(window.location.search);
        const chosenAPI = params.get('api');
        if (chosenAPI) {
          this.chosenAPI = chosenAPI;
        }
        this.fetchItems();
        window.addEventListener('resize', this.handleResize);
      }
    });
  </script>
</body>

</html>