/* Selector */

main {
    flex: 1 0 auto;
    padding: 21px 40px;
}

td {
    padding-right: 3%;
}


/* Structure, IDs */

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/* Classes */

.logo {
    float: left;
    margin-left: 32px;
    height: auto;
    max-height: 5em;
    width: auto;
    max-width: 90vw;
    margin-top: 12px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.clear {
    clear: both;
}

.navSections {
    display: flex;
    justify-content: space-between;
    overflow: hidden !important;
}

.section {
    /*margin-right: 4em !important;*/
    width: 15%;
    height: 38px !important;
}

.section:first-of-type {
    margin-right: auto !important;
}

.section:nth-last-child(2) {
    margin-left: auto !important;
}

.section:nth-of-type(2) {
    margin-right: auto !important;
}

.secHeader {
    margin: 0px !important;
    font-size: 1.2em !important;
    color: white !important;
}

.search {
    height: 38px !important;
    width: 27.5% !important;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.searchHeader {
    height: 100% !important;
    width: calc(100% - 38px) !important;
    margin-bottom: 0 !important;
    padding-left: 6px !important;
    background-color: #e0f2f1 !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-right: 1px solid #00838f !important;
}

.searchHeader::placeholder {
    color: #00838f;
    font-style: italic;
}

.searchIcon {
    background-color: #00838f;
    height: 100% !important;
    width: 38px !important;
    margin-right: 0 !important;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.5em !important;
    display: flex;
}

/* Media query for mobile devices or 200% zoom */
@media (max-width: 1000px) {
    .section {
        margin-right: 2em !important;
    }

    .section:first-of-type {
        margin-right: 2em !important;
    }

    .section:nth-last-child(3) {
        margin-left: 2em !important;
    }

    .section:nth-last-child(2) {
        margin-right: 0 !important;
    }
}

.tab a:hover {
    background-color: #00acc1 !important;
}

.noPadding {
    padding: 0px !important;
}

.center {
    display: flex !important;
    justify-content: center !important;
}

.hover:hover {
    cursor: pointer;
    text-decoration: underline;
}

.highlight a:hover {
    background-color: #00acc1 !important;
}

.category {
    float: left;
}

.breadcrumb:before {
    color: black;
}

.breadcrumb,
.breadcrumb:last-child {
    color: black;
}

.breadcrumb:hover {
    color: #00838f;
}

td.trunc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal;
    max-height: 45px !important;
    line-height: 22.5px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.editItem {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 5px !important;
}

.editItem a {
    color: #00838f;
}

.editItem a:hover {
    color: #00acc1;
}

.newEntry {
    float: left;
    background-color: white;
    margin: 14px 0px 14px 5px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newEntry a {
    color: #00838f;
    height: 36px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newEntry a:hover {
    color: #00acc1;
}

.newEntry a i {
    font-size: 1.4em;
}

.listSettings {
    vertical-align: middle;
}

.listSettings i {
    font-size: 1.3em;
    padding-left: 5px;
    color: black;
}

.listSettings i:hover {
    color: #00838f;
}