/* Selector */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 20px 15px;
}


/* Classes */

.title {
    padding-left: 15px;
    margin-top: 0px;
    font-family: 'Amatic SC', cursive;
    font-style: oblique;
    color: black;
}

.logo {
    float: left;
    margin-left: 6px;
    height: 1%;
    max-height: 80px;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.clear {
    clear: both;
}

.section {
    margin-right: 3% !important;
    width: 12%;
    margin-top: 2px !important;
    height: 35px;
}

.secHeader {
    padding-top: 0px !important;
    font-size: 1%;
}

.tab a {
    font-size: 140% !important;
    color: white !important;
}

.tab a:hover {
    background-color: #00acc1 !important;
}

.noPadding {
    padding: 0px !important;
}

.center {
    display: flex !important;
    justify-content: center !important;
}

.hover:hover {
    cursor: pointer;
    text-decoration: underline;
}

.highlight a:hover {
    background-color: #00acc1 !important;
}


/* Structure, IDs */