<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kübelliste!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="index.css" />
  <link rel="icon" type="image/x-icon" href="resources/Kuebelliste_Icon.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <navbar v-model="textInput"></navbar>
    </header>

    <main>
      <!-- here comes data -->
      <h1 v-if="items.length != 0" style="width: 50%; float: left;">My Lists</h1>
      <p
        style="width: 50%; float: right; text-align: right; margin-top: 5px !important; margin-bottom: 0; font-size: 100%;">
        Vienna: {{weather.weather}}, {{ weather.temperature }}°C</p>
      <div class="clear"></div>

      <div v-if="!hasAccessToken()" class="row left fixed-main">
        <div class="slogan">
          <p style="font-size: 200%; margin-top: 15%; margin-bottom: 0;">Never forget your experiences. Save what you want to do next.
          </p>
          <p style="font-size: 250%; margin-top: 1%"><b>Start planning your free time today.</b></p>
        </div>
        <img src="resources/idea_home.jpg" class="slogan-img">
      </div>

      <ul>
        <div class="row center">
          <li>
            <div class="center" v-for="item in rowChunks">
              <div v-for="card in item" class="col s2.5">

                <a :href="getCardLink(card.name)">
                  <div class="card hoverable" style="width: 170px; height: 220px;">
                    <div class="card-image">
                      <img v-if="card.picture != ''" :src=card.picture style="width:170px; height:150px;">
                      <img v-else src=resources/Kuebelliste_Icon.png style="width:170px; height:150px;">
                    </div>
                    <div class="card-content">
                      <span class="card-title center" style="font-size: 18.5px !important; color: black !important;"><b
                          style="overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important;">{{
                          card.name }}</b></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>

        </div>
      </ul>
    </main>
    <img v-if="nyanCatVisible == true" src="resources/nyancat.png"
      :style="`position: absolute; left: ${this.nyanCatPos}px; width:64px`">

    <!-- OUR FOOTER-->
    <kuebelfooter></kuebelfooter>

  </div>


  <script src="components.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        resizeEvent: 0,
        items: [],
        textInput: "",
        weather: "",
        nyanCatPos: -100,
        nyancatInterval: "",
        nyanCatVisible: true
      },
      computed: {
        rowChunks() {
          this.resizeEvent;
          const chunkSize = Math.floor(window.innerWidth / 225);
          const result = [];
          let allItems = this.items;

          if (this.textInput != "") {
              allItems = allItems.filter(item =>
                item.name.toLowerCase().includes(this.textInput.toLowerCase()) || item.name === "New List"
              );
          }

          for (let i = 0; i < allItems.length; i += chunkSize) {
            let slice = allItems.slice(i, i + chunkSize);
            result.push(slice);
          }

          return result;
        },
      },
      methods: {
        fetchItems() {
          let fetchedItems = [];

          fetch("/list")
            .then(res => res.json())
            .then(data => {
              fetchedItems = data;
              fetchedItems.push({
                name: "New List", picture: "../resources/Plus_symbol.png",
              })
            })
            .then(list => {
              this.items = fetchedItems
            }
            )
            .catch(err => console.log(err));
        },
        handleResize() {
          this.resizeEvent++;
        },
        getCardLink(cardName) {
          if (cardName === 'New List') {
            return 'newList.html';
          } else {
            return `listview.html?listName=${cardName}`;
          }
        },
        hasAccessToken() {
          // Get the value of the accessToken cookie
          let value = "; " + document.cookie;
          let parts = value.split("; accessToken=");
          if (parts.length === 2) {
            let accessToken = parts.pop().split(";").shift();
            return accessToken !== "";
          }
          return false;
        }
      },
      mounted() {
        fetch("weather/weatherandtemp/Vienna")
          .then(weather => weather.json())
          .then(data => this.weather = data)
          .catch(error => console.log(error))
        if (this.hasAccessToken()) {
          this.fetchItems();
          window.addEventListener('resize', this.handleResize);
        }
        let rng = Math.random();
        if (rng < 0.22) {
          let speed = 3;
          if (rng < 0.08) speed = 12;

          this.nyancatInterval = setInterval(() => {
            this.nyanCatPos += speed;
            if (this.nyanCatPos >= window.innerWidth * 0.85) {
              this.nyanCatVisible = false;
              clearInterval(this.nyancatInterval);
            }
          }, 15);
        }
      }
    });
  </script>

  <!-- Add these buttons for authorization and sign-out -->


  <!-- Add this button for adding a deadline to the calendar -->
  <!--<button id="add_deadline_button">Add Deadline to Calendar</button>-->

  <script src="Ext-APIs/calendar.js"></script>
  <script src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
  <script src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>

</body>

</html>