<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kübelliste!</title>
  <link rel="stylesheet" href="index.css" />
  <script src="index.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <header>
    <nav class="card-panel  nav-extended" style="padding: 0; margin-top: 0; margin-bottom: 0;">

      <!-- TITEL - LOGO -->
      <div class="nav-wrapper">
        <a href="index.html">
          <img src="../resources/logoSVG.png" class="logo" title="Kübelliste Logo" alt="To-Do Liste in Kübel">
        </a>

        <!-- SIGN UP - LOGIN -->
        <ul class="right hide-on-med-and-down" style="padding-top: 10px;">
          <li class="highlight"><a class="waves-effect waves-light btn cyan darken-3">Sign up</a></li>
          <li class="highlight"><a class="waves-effect waves-light btn cyan darken-3">Login</a></li>
        </ul>
        <div class="clear"></div>
      </div>

      <!-- MENU SECTIONS -->
      <div class="nav-content" style="border-top: 1px solid black; border-bottom: 1px solid black">
        <ul class="tabs tabs-transparent" style="height: 38px">
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader"
              href="#test1">Anime</a></li>
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader"
              href="#test2">Manga</a></li>
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader"
              href="#test3">Restaurants</a>
          </li>
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader" href="#test4">ESO
              Dungeons</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <!-- here comes data -->
    <div id="app">
      <button @click="fetchItems">Fetch Items</button>
      <ul>
        <div class="row center">

          <li>
            <div class="row" v-for="item in items" :key="item.id">
              <div v-for="card in item" :key="card.id" class="col s2.5">
                <a href="google.com">
                  <div class="card hoverable" style="width: 170px; height: 220px;">
                    <div class="card-image">
                      <img :src=card.picture style="width:170px; height:150px;">
                    </div>
                    <div class="card-content">
                      <span class="card-title center"
                        style="font-size: 18.5px !important; color: black !important;"><b>{{ card.name }}</b></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>

        </div>
      </ul>

    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          title: 'Dynamic List from JSON Array',
          items: []
        },
        methods: {
          fetchItems() {
            // Simulate an API call
            const fetchedItems = [
              {
                id: 1, name: "ESO Dungeons", picture: "https://assetsio.gnwcdn.com/elder-scrolls-online-logo.jpg?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp",
              },
              {
                id: 2, name: "AnimeList", picture: "https://image.spreadshirtmedia.net/image-server/v1/mp/products/T1459A839PA4459PT28D187144250W10000H4186/views/1,width=800,height=800,appearanceId=839,backgroundColor=F2F2F2/anime-logo-sticker.jpg",
              },
              {
                id: 3, name: "Restaurants", picture: "https://www.restaurant-lamer.de/wp-content/uploads/2022/06/lamer_aquarium.jpg",
              },
              {
                id: 4, name: "ESO Dungeons", picture: "https://assetsio.gnwcdn.com/elder-scrolls-online-logo.jpg?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp",
              },
              {
                id: 5, name: "AnimeList", picture: "https://image.spreadshirtmedia.net/image-server/v1/mp/products/T1459A839PA4459PT28D187144250W10000H4186/views/1,width=800,height=800,appearanceId=839,backgroundColor=F2F2F2/anime-logo-sticker.jpg",
              },
              {
                id: 6, name: "Restaurants", picture: "https://www.restaurant-lamer.de/wp-content/uploads/2022/06/lamer_aquarium.jpg",
              },
              {
                id: 7, name: "ESO Dungeons", picture: "https://assetsio.gnwcdn.com/elder-scrolls-online-logo.jpg?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp",
              },
              {
                id: 8, name: "AnimeList", picture: "https://image.spreadshirtmedia.net/image-server/v1/mp/products/T1459A839PA4459PT28D187144250W10000H4186/views/1,width=800,height=800,appearanceId=839,backgroundColor=F2F2F2/anime-logo-sticker.jpg",
              },
              {
                id: 9, name: "Restaurants", picture: "https://www.restaurant-lamer.de/wp-content/uploads/2022/06/lamer_aquarium.jpg",
              }
            ];
            fetchedItems.push({
              id: fetchedItems.length + 1, name: "New List", picture: "../resources/Plus_symbol.png",
            })

            const rows = [];
            for (let i = 0; i < fetchedItems.length; i += 5) {
              rows.push(fetchedItems.slice(i, i + 5));
            }
            this.items = rows;
            //else this.items = []
          }
        }
      });


    </script>
  </main>

  <footer class="page-footer cyan darken-3 noPadding">
    <div class="container" style="width: 50vw; height: 50px;">
      <div class="row center" style="margin-bottom:0px; height: 0px; padding-top: 15px;">
        <div class="col s12 m6 l3 noPadding hover">Home</div>
        <div class="col s12 m6 l3 noPadding hover">About</div>
        <div class="col s12 m6 l3 noPadding hover">FAQ</div>
        <div class="col s12 m6 l3 noPadding hover">Cookie</div>
        <div class="col s12 m6 l3 noPadding hover">Sign up</div>
        <div class="col s12 m6 l3 noPadding hover">Login</div>
        <!-- This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->
      </div>
    </div>
    <div class="footer-copyright noPadding" style="height: 40px">
      <div class="container center" style="height: 40px; padding-top: 10px;">
        © 2024 Kübelliste
      </div>
    </div>
  </footer>
</body>

</html>