<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kübelliste!</title>
  <link rel="stylesheet" href="index.css" />
  <script src="index.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="components.js"></script>
</head>

<body>
  <header>
    <nav class="card-panel  nav-extended" style="padding: 0; margin-top: 0; margin-bottom: 0;">

      <!-- TITEL - LOGO -->
      <div class="nav-wrapper">
        <a href="index.html">
          <img src="../resources/logoSVG.png" class="logo" title="Kübelliste Logo" alt="To-Do Liste in Kübel">
        </a>

        <!-- SIGN UP - LOGIN -->
        <ul class="right hide-on-med-and-down" style="padding-top: 10px;">
          <li class="highlight"><a class="waves-effect waves-light btn cyan darken-3" href="register.html">Sign up</a>
          </li>
          <li class="highlight"><a class="waves-effect waves-light btn cyan darken-3" href="login.html">Login</a></li>
        </ul>
        <div class="clear"></div>
      </div>

      <!-- MENU SECTIONS -->
      <div class="nav-content" style="border-top: 1px solid black; border-bottom: 1px solid black">
        <ul class="tabs tabs-transparent navSections" style="height: 38px;">
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader" style="font-size: 1.2em !important;"
              href="#test1">Anime</a></li>
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader" style="font-size: 1.2em !important;"
              href="#test2">Manga</a></li>
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader" style="font-size: 1.2em !important;"
              href="#test3">Restaurants</a>
          </li>
          <li class="tab section"><a class="waves-effect waves-light btn cyan darken-3 secHeader" style="font-size: 1.2em !important;" href="#test4">ESO
              Dungeons</a>
          </li>
          <li class="search">
            <i class="material-icons left center searchIcon valign-wrapper">search</i>
            <input type="text" placeholder="Search Anime, Manga, and more ..." class="searchHeader">
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <!-- here comes data -->
    <div id="app">
      <ul>
        <div class="row center">

          <li>
            <div class="center" v-for="list in items" :key="index">

              <div v-for="(value, category) in list" :key="index" class="col s2.5" style="width: 100%;">
                <p class="waves-effect waves-light btn cyan darken-3 category">{{ category }}</p>

                <table v-if="value.length !== 0" style="margin-bottom: 3%; border: 2px solid #a8a8a8">
                  <thead>
                    <tr>
                      <th style="width: 20%;">Name</th>
                      <th style="width: 10%;">Rating</th>
                      <th style="width: 60%;">Description</th>
                      <th style="width: 10%;">Deadline</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="entry in value" :key="index">
                      <td>{{ entry.name }}</td>
                      <td>{{ entry.rating }}</td>
                      <td>{{ entry.description }}</td>
                      <td>{{ entry.deadline }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </li>

        </div>
      </ul>

    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          resizeEvent: 0,
          items: []
        },
        computed: {
          rowChunks() {

          },
        },
        methods: {
          fetchItems() {
            // Simulate an API call
            const fetchedItems = [
              {
                "To-Do": [{
                  name: "Coral Aerie", rating: "0 / 6", description: "Coral Aerie has 7 bosses: 3 main bosses with each having a hardmode, 4 secret bosses and trashmob packs.", deadline: "30.03.2024",
                },
                {
                  name: "Spindelclutch II", rating: "3 / 6", description: "Spindleclutch II has 6 bosses: 3 main bosses, 3 mini-boss encounters and trashmob packs.", deadline: "25.03.2024",
                }]
              },
              {
                "Done": [{
                  name: "Spindelclutch I", rating: "6 / 6", description: "Spindleclutch I has 5 bosses: 2 main bosses, 3 mini-boss encounters and trashmob packs.", deadline: "16.03.2024",
                }]
              },
              {
                "Test": []
              },
            ];

            this.items = fetchedItems
          },
        },
        mounted() {
          this.fetchItems();
        }
      });


    </script>
  </main>

  <footer class="page-footer cyan darken-3 noPadding">
    <div class="container" style="width: 50vw; height: 50px;">
      <div class="row center" style="margin-bottom:0px; height: 0px; padding-top: 15px;">
        <div class="col s12 m6 l3 noPadding hover">Home</div>
        <div class="col s12 m6 l3 noPadding hover">About</div>
        <div class="col s12 m6 l3 noPadding hover">FAQ</div>
        <div class="col s12 m6 l3 noPadding hover">Cookie</div>
        <div class="col s12 m6 l3 noPadding hover">Sign up</div>
        <div class="col s12 m6 l3 noPadding hover">Login</div>
        <!-- This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->
      </div>
    </div>
    <div class="footer-copyright noPadding" style="height: 40px">
      <div class="container center" style="height: 40px; padding-top: 10px;">
        © 2024 Kübelliste
      </div>
    </div>
  </footer>
</body>

</html>