<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edith</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="edith.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
            <div class="imgcontainer center">
                <img src="../resources/logoSVG.png" title="Kübelliste Logo" alt="To-Do Liste in Kübel"
                    class="logoLogin">
            </div>

            <div class="container"
                style="max-width: 40%;border: 2px solid #00838f; padding: 20px 30px; border-radius: 5%;">
                <h1 style="margin-top: 0; font-size: 150%;" class="center"><b>{{ this.listName }}</b></h1>
                <h2 style="margin-top: 0; font-size: 100%" class="center"><b>{{ this.listEntryName }}</b></h2>

                <label for="category"><b>Category</b></label>
                <select name="category" id="category" style="display: block;" required>
                    <option value="To-Do">To-Do</option>
                    <option value="Done">Done</option>
                    <!--add function to show all categories-->
                </select>

                <label for="entryName"><b>Entry name</b></label>
                <input v-model="this.newEntryName" type="text" id="entryName" name="entryName" minlength="1"
                    maxlength="25" title="Minimum 1 character required (maximum 25 allowed)" required>

                <label for="rating"><b>Rating</b></label>
                <input v-model="this.listRating" type="text" id="rating" name="rating" pattern="^\d{1,2}/\d{1,2}$"
                    title="Rating format: number/number (e.g. 5/10)" required>

                <label for="description"><b>Description</b></label>
                <input v-model="this.listDescription" type="text" id="description" name="description" minlength="1"
                    maxlength="2000" title="Minimum 1 character required (maximum 2000 allowed)" required>

                <label for="deadline"><b>Deadline</b></label>
                <input v-model="this.listDeadline" type="text" id="deadline" name="deadline" @blur="validateDeadline"
                    pattern="^\d{2}.\d{2}.\d{4}$|^none$" title="Date format: DD.MM.YYYY or 'none'" required>

                <label for="entryPicture"><b>Picture URL (optional)</b></label>
                <input v-model="this.listPicture" type="text" id="entryPicture" name="entryPicture"
                    pattern="https?://.+" title="Please enter a valid URL (e.g. http://example.com)">

                <button v-on:click=updateEntry() class="waves-effect waves-light btn cyan darken-3">Submit</button>

                <a :href="`listview.html?listName=${this.listName}`"><button type="button"
                        class="cancelbtn waves-effect waves-light btn grey">Cancel</button></a>

                <button v-on:click=deleteEntry() type="button"
                    class="deletebtn waves-effect waves-light btn red">Delete</button>
            </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                listName: "",
                listEntryName: "",
                newEntryName: "",
                listCategory: "",
                listRating: "",
                listDescription: "",
                listDeadline: "",
                listPicture: ""
            },
            methods: {
                validateDeadline() {
                    const deadlineInput = document.getElementById('deadline');
                    const deadline = deadlineInput.value.trim();
                    const datePattern = /^\d{1,2}.\d{1,2}.\d{4}$/;

                    if (deadline === 'none') {
                        // Allow 'none' as a valid value
                        return;
                    }

                    if (!datePattern.test(deadline) || !this.isValidDate(deadline)) {
                        deadlineInput.value = ' ';
                    }
                },
                isValidDate(dateString) {
                    const [day, month, year] = dateString.split('.').map(Number);
                    const date = new Date(year, month - 1, day); // Java starts at 0 for month -> Jan = 0

                    // Check if the date is valid and the components match
                    return (
                        date.getFullYear() === year &&
                        date.getMonth() === month - 1 &&
                        date.getDate() === day
                    );
                },

                fetchItems() {
                    let fetchedItems = [];
                    fetch(`/list/${this.listName}/${this.listCategory}/${this.listEntryName}`)
                        .then(res => res.json())
                        .then(data => {
                            this.listRating = data.rating
                            this.listDescription = data.description;
                            this.listDeadline = data.deadline;
                        })

                },
                deleteEntry() {
                    let fetchedItems = [];


                    fetch(`/list/${this.listName}/${this.listCategory}/${this.listEntryName}`, {
                        method: 'DELETE',
                    })
                        .then(data => {
                            if (data.status === 200) {
                                window.location.href = `listview.html?listName=${this.listName}`;
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });

                },
                updateEntry() {
                    fetch(`/list/${this.listName}/${this.listCategory}/${this.listEntryName}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify([{
                            "name": this.newEntryName,
                            "rating": this.listRating,
                            "description": this.listDescription,
                            "deadline": this.listDeadline,
                            "calendar": "no"
                        }])
                    })
                        .then(data => {
                            window.location.href = 'index.html';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });

                }
            },
            mounted() {
                const params = new URLSearchParams(window.location.search);
                const listName = params.get('listName');
                const listParam = params.get('listEntry');
                const listCategory = params.get('category');
                if (listParam) {
                    this.listName = listName;
                    this.listEntryName = listParam;
                    this.newEntryName = listParam;
                    this.listCategory = listCategory;
                    this.fetchItems();
                }
            }
        });
    </script>
    <script>/**
document.getElementById('createListForm').addEventListener('submit', function (event) {
event.preventDefault();

const formData = {
    name: document.getElementById('listName').value,
    picture: document.getElementById('listPicture').value,
    weather: document.getElementById('weather').value
};
console.log(formData)

fetch('/list', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
})
    .then(data => {
        fetch(`/list/${formData.name}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify([{ name: "To-Do" }])
        })
            .catch(error => {
                console.log('Error:', error);
                window.location.href = 'index.html'
            })
    })
    .then(data => window.location.href = 'index.html')
    .catch(error => {
        console.error('Error:', error);
        alert('Login failed. Please check your credentials and try again.');
    });
});**/
    </script>
</body>

</html>